<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    {% include analytics.html %}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      <a href="https://github.com/tianle91">github/tianle91</a>
    </footer>
  </body>
</html>
